name: Python Tests

on:
  push:
    branches: [ main ]
    tags:
      - 'server/v*.*.*'
      - 'client/v*.*.*'
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
        cache: 'pip'

    - name: Install pre-commit
      run: |
        python -m pip install --upgrade pip
        pip install uv
        uv sync --only-dev

    - name: Run pre-commit
      run: |
        uv run pre-commit run --all-files

  test:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.12]
        redis-version: ['redis/redis-stack:6.2.6-v9', 'redis:8.0.3', 'redis:latest']

    steps:
    - uses: actions/checkout@v3

    - name: Set Redis image name
      run: |
          echo "REDIS_IMAGE=${{ matrix.redis-version }}" >> $GITHUB_ENV

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install uv
        uv sync --all-extras

    - name: Install agent-memory-client
      run: |
        uv pip install -e ./agent-memory-client

    - name: Run tests
      run: |
        uv run pytest --run-api-tests
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
